.formcontainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formgroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 768px) {
  .formgrouprow {
    flex-direction: row;
    justify-content: space-between;
  }

  .formgroup .formcontrol {
    width: 100%;
  }
  .modal {
   background-color: rebeccapurple;
  }
}
