.container{
background-color: var(--bgSoft);
padding: 20px;
border-radius: 10px;
margin-top: 20px;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addbutton{
    padding: 10px;
    background-color: #5d57c9;
    color: var(--text);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.table{
    width: 100%;
}

.table td{
    padding: 10px;
    text-align: center;
}
.tabletd {
    /* width: 200px;
    height: 100px; */
    text-align: center;
    overflow: hidden;
    display: block;
}
/* .tabletd:hover{
    overflow:auto;
} */

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    /* padding: 2px 5px; */
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
}

.view{
    background-color: transparent;
    color: #5d57c9;
}

.delete{
    background-color: transparent;
}

.compbutton{
    background-color: darkseagreen;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
}

.pendbutton{
    background-color: sandybrown;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
}

.searchcontainer{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;
    width: 22%;
    height: 35px;
  
}
.searchfield {
   background: transparent;
   border: none;
   outline: none;
   color: white;
  }
  .searchicon {
    color: #aaa;
  }
