.Input{
    width: 100%;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.Input label{
padding-top: 11px;
}

.textArea{
    border-radius: 10px;
    width: 100%;
    resize: vertical;
}

.upload{
    padding: 10px;
    margin-bottom: 20px;
}