.Input{
    width: 100%;
    background-color: aliceblue;
    color: black;
    border-radius: 10px;
}
.textArea{
    border-radius: 10px;
    margin: 10px 0 20px 0;
}

.upload{
    padding: 10px;
    margin-bottom: 20px;
}